<% if @inquiry.errors.any? %>
<%= @inquiry.errors.count %>個のエラーがあります。<br />
<% @inquiry.errors.full_messages.each do |msg| %>
<%= msg %><br />
<% end %>
<% end %>

<%= form_for @inquiry, :url => confirm_path do |f| %>
<table>
    <tr>
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
         </div>
    </tr>
    <tr>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </tr>
    <tr>
        <div class="form-group">
            <%= f.label "内容" %>
            <%= f.text_area :content, class: "form-control" %>
        </div>
    </tr>
    <tr>
        <td><%= f.submit "確認", class: "btn btn-primary btn-lg" %></td>
    </tr>
</table>
<% end %>